@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '../node_modules/ng2-dnd/bundles/style.css';

body {
    margin: 0;
}

html{
  position: relative;
}

.mat-toolbar.mat-primary{
    background-color: rgb(54, 130, 173) !important;
}

.vertical-spacing-2pt {
    display: block;
    height: 2pt;
}

.vertical-spacing-4pt {
    display: block;
    height: 4pt;
}

 /* Rules for sizing the icon. */
.mat-icon.md-16 { font-size: 16px; width: 16px; height: 16px; }
.mat-icon.md-18 { font-size: 18px; width: 18px; height: 18px; }
.mat-icon.md-24 { font-size: 24px; width: 24px; height: 24px; }
.mat-icon.md-36 { font-size: 36px; width: 36px; height: 36px; }
.mat-icon.md-48 { font-size: 48px; width: 48px; height: 48px; }

.mat-icon.celement { color: rgb(24, 118, 224) }

/* Link decoration */
.linkNoDecoration{
  text-decoration: none;
  display: block;
}

.successSnackBar button{
    color: rgb(100, 240, 82) !important;
}

.errorSnackBar button{
    color: rgb(255, 0, 0) !important;
}

/* with 'styles-' in front means globally defined  */
.styles-row-spacer {
    flex: 1 1 auto;
}

.styles-mat-panel-title-pad {
    min-width: 120pt;
}

.styles-new-expansion-panel-header-header {
    background-color: rgb(230, 255, 230);
}

.styles-new-info-panel-header-header {
    background-color: rgb(253, 255, 230);
}

.styles-mat-card-actions {
    text-align: right;
}

.styles-full-width {
    width: 100%;
}

.styles-error {
    color: #D50000;
}
  
.styles-success {
    color: rgb(126, 182, 57);
}

.styles-info {
    color: rgb(247, 200, 71);
}

.sidenav-button {
    width: 100% !important;
    text-align: left !important;
}

.styles-mat-table-row {
    cursor: pointer;
}

.styles-mat-table-row:hover {
    background-color: rgb(166, 231, 243)
}

.styles-not-selectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
