/*  https://material.io/icons  */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
}

html{
  position: relative;
}

.mat-toolbar.mat-primary{
    background-color: rgb(54, 130, 173) !important;
}

.vertical-spacing-2pt {
    display: block;
    height: 2pt;
}

.vertical-spacing-4pt {
    display: block;
    height: 4pt;
}

 /* Rules for sizing the icon. */
.mat-icon.md-18 { font-size: 18px; width: 18px; height: 18px; }
.mat-icon.md-24 { font-size: 24px; width: 24px; height: 24px; }
.mat-icon.md-36 { font-size: 36px; width: 36px; height: 36px; }
.mat-icon.md-48 { font-size: 48px; width: 48px; height: 48px; }

/* Link decoration */
.linkNoDecoration{
  text-decoration: none;
  display: block;
}

/* with 'styles-' in front means globally defined  */
.styles-row-spacer {
    flex: 1 1 auto;
}

.styles-mat-panel-title-pad {
    min-width: 120pt;
}

.styles-new-expansion-panel-header-header {
    background-color: rgb(230, 255, 230);
}

.styles-new-info-panel-header-header {
    background-color: rgb(253, 255, 230);
}

.styles-mat-card-actions {
    text-align: right;
}

.styles-full-width {
    width: 100%;
}

.styles-error {
    color: #D50000;
}
  
.styles-success {
    color: #8BC34A;
}

.sidenav-button {
    width: 100% !important;
    text-align: left !important;
}