html, body
{
    !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.webGLContainer
{
    !important;
    background-color: gray;
    float: left;
    width: 100%;
    height: 100%;
}

.tooltip
{
    color:rgba(255, 255, 255, 0.75);
    position: fixed;
    padding:5px;
    -moz-border-radius:5px;  /* for Firefox */
    -webkit-border-radius:5px; /* for Webkit-Browsers */
    border-radius:5px; /* regular */
    background-color:rgba(0, 0, 0, 0.2);
    max-width: 500px;
    pointer-events:none;
}
