<div class="vertical-spacing-4pt"></div>
<div class="register-view-container">
  <mat-card class="mat-card-register">

    <mat-card-subtitle #card>
        <h2>Welcome to VLabs</h2>
    </mat-card-subtitle>
    <mat-card-title>
        <h4>Registration</h4>
        <mat-progress-spinner *ngIf="submitted" class="mat-progress-spinner-login" mode="indeterminate"></mat-progress-spinner>
    </mat-card-title>

    <mat-card-content>
        <p [class]="notification.msgType" *ngIf="notification" [innerHTML]="notification.msgBody"></p>

        <mat-form-field *ngIf="!submitted && !qrDecoded">
            <mat-select placeholder="Registration Method" #registrationMethodSelector (change)="registrationMethodChanged($event)" [value]="registrationMethod">
            <!-- <mat-select placeholder="Registration Method" #registrationMethodSelector [(ngModel)]="registrationMethod"> -->
                <mat-option *ngFor="let regMethod of regMethods" [value]="regMethod.value">
                {{regMethod.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <qr-scanner *ngIf="registrationMethod == 'QR Code Invitation' && !qrDecoded"
                    #qrScanner
                    [debug]="false"
                    [mirror]="true"
                    [stopAfterScan]="true"
                    [updateTime]="500"
                    (onRead)="qrDecodedOutput($event)">
        </qr-scanner>

        <mat-progress-spinner *ngIf="invSubCardsRetrieving" class="mat-progress-spinner-login" mode="indeterminate"></mat-progress-spinner>
        <div *ngIf="!submitted && qrDecoded && invSubCards?.length > 0">
            <h3>Invitation Subscriptions</h3>
            <div *ngFor="let invSubCard of invSubCards">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title style="text-align:left;">{{invSubCard.title}}</mat-card-title>
                        <mat-card-subtitle style="text-align:left;">{{invSubCard.subtitle}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content style="text-align:left;">
                        <div [innerHTML]="invSubCard.content"></div>
                    </mat-card-content>
                </mat-card>
                <br/>
            </div>
        </div>

        <form *ngIf="!submitted && !existingUserSubscribing" [formGroup]="form" (ngSubmit)="onSubmit()" #registerForm="ngForm" class="register-form">
            <mat-form-field class="full-width">
                <input matInput formControlName="username" type="text" placeholder="username (email)" required (change)="onUsernameFocusLost()">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput formControlName="password" type="password" placeholder="password" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput formControlName="confirmPassword" type="password" placeholder="confirm password" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput formControlName="email" type="email" placeholder="email" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput formControlName="firstName" type="text" placeholder="First Name">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput formControlName="lastName" type="text" placeholder="Last Name">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput formControlName="phoneNumber" type="tel" placeholder="phone number">
            </mat-form-field>

            <div class="mat-card-actions-register">
                <button type="submit" mat-button [disabled]="!registerForm.form.valid">SUBMIT REQUEST</button>
            </div>
        </form>

    </mat-card-content>

  </mat-card>
<div>