<div class="content">

  <mat-progress-spinner *ngIf="!completed" [diameter]="50" mode="indeterminate"></mat-progress-spinner>

  <mat-card class="help-clip-card" *ngFor="let subscribedHelpClip of subscribedHelpClips">
    <mat-card-header>
      <div mat-card-avatar class="help-clip-header" [ngStyle]="{'background-image': 'url(' + subscribedHelpClip.iconPath + ')'}" style="max-height: 64px;"></div>
      <mat-card-title>{{subscribedHelpClip.title}}</mat-card-title>
      <mat-card-subtitle style="height: 40px;">{{subscribedHelpClip.shortdesc}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{subscribedHelpClip.thumbnailPath}}" alt="{{subscribedHelpClip.shortdesc}}">
    <mat-card-content style="height: 80px;">
      <p>
          {{subscribedHelpClip.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="launchHelpClip(subscribedHelpClip.alias)" mat-raised-button color="accent" class="global-full-width">LAUNCH</button>
    </mat-card-actions>
  </mat-card>

</div>
