.content {
    display: inline-block;
}

.help-clip-card {
    margin: 10px;
    min-width: 330px;
    max-width: 375px;
    float: left;
    box-sizing: border-box;
}

.help-clip-header {
    background-size: cover;
}
