<div class="content">

    <mat-card class="help-clip-card">
      <mat-card-header>
        <div mat-card-avatar class="help-clip-header" style="background-image: url('assets/images/tmp/hvac-icon.png');"></div>
        <mat-card-title>HVAC</mat-card-title>
        <mat-card-subtitle>Heating, ventilation, and air conditioning (HVAC)</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/tmp/heat-pump.jpg" alt="Heat Pump">
      <mat-card-content>
        <p>
            HVAC is an important part of residential structures such as single family homes, apartment buildings, hotels and senior living facilities, medium to large industrial and office buildings such as skyscrapers and hospitals, on ships and submarines, and in marine environments, where safe and healthy building conditions are regulated with respect to temperature and humidity, using fresh air from outdoors.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="launchHelpClip('hvac')" mat-raised-button color="accent" class="global-full-width">LAUNCH</button>
      </mat-card-actions>
    </mat-card>

</div>
