<h2 mat-dialog-title>Non Authorized User</h2>
<mat-dialog-content>
    <div class="full-width">
      <span class="label">ID</span>
      <div class="data">{{user.id}}</div>
    </div>
    <div class="full-width">
      <span class="label">Username</span>
      <div class="data">{{user.username}}</div>
    </div>
    <div class="full-width">
      <span class="label">Email</span>
      <div class="data">{{user.email}}</div>
    </div>
    <div class="full-width">
      <span class="label">Phone Number</span>
      <div class="data">{{user.phoneNumber}}</div>
    </div>
    <div class="full-width">
      <span class="label">Full Name</span>
      <div class="data">{{user.firstName}} {{user.lastName}}</div>
    </div>
</mat-dialog-content>
<hr/>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [mat-dialog-close]="true" (click)="authorizeUser()">Authorize</button>
</mat-dialog-actions>
