<mat-accordion>
    <mat-expansion-panel [expanded]="true" #collaboratorsListPanel>
    <mat-expansion-panel-header>
        <mat-panel-title class="styles-mat-panel-title-pad">
            Collaborator List
        </mat-panel-title>
        <mat-panel-description>
            <mat-icon class="md-24">contacts</mat-icon>
            ({{collaboratorsNum}})
        </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-progress-spinner *ngIf="!completed" [diameter]="35" mode="indeterminate"></mat-progress-spinner>

        <mat-table #collaboratorsDSTable [dataSource]="collaboratorsDS" *ngIf="completed">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="alias">
                <mat-header-cell *matHeaderCellDef>ALIAS</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.alias}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef>USER</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="element.user">
                        <mat-icon *ngIf="element.user.enabled" 
                        class="md-36" style="color: green; cursor: pointer;"
                        (click)="openUserEditDialog(element); $event.stopPropagation();">person</mat-icon>
                        <mat-icon *ngIf="!element.user.enabled" 
                        class="md-36" style="color: red; cursor: pointer;" 
                        matTooltip="Non-activated collaborator"
                        (click)="openUserEditDialog(element); $event.stopPropagation();">person</mat-icon>
                    </div>
                    <mat-icon *ngIf="!element.user" 
                                matTooltip="Copy Invitation Link"
                                class="md-36" style="color: brown; cursor: pointer;"
                                (click)="getInvitationLink(element); $event.stopPropagation();">content_copy</mat-icon>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="projects">
                <mat-header-cell *matHeaderCellDef>PROJECTS</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.projects ? element.projects.length : 0}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="collaboratorsDisplayedColumns"></mat-header-row>
            <mat-row 
                    class="styles-mat-table-row"
                    (click)="collaboratorRowClicked(row);" 
                    *matRowDef="let row; columns: collaboratorsDisplayedColumns;"></mat-row>
        </mat-table>

    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header class="styles-new-expansion-panel-header-header">
            <mat-panel-title class="styles-mat-panel-title-pad">
                Add New Collaborator
            </mat-panel-title>
        </mat-expansion-panel-header>
        <br/>
        <app-new-collaborator (newCollaboratorAddedEvent)="onNewCollaboratorAddedEvent($event)"></app-new-collaborator>
    </mat-expansion-panel>
</mat-accordion>