.work-item-resource-header-image {
    background-image: url('/assets/resource-item.png');
    background-size: cover;
}
.work-item-blender-header-image {
    background-image: url('/assets/blender-item.png');
    background-size: cover;
}
.work-item-vlabitem-header-image {
    background-image: url('/assets/vlabitem-item.png');
    background-size: cover;
}

.file-drop-zone-over { border: dotted 5px greenyellow; }

.file-drop-zone { 
    border: dotted 3px lightgray; 
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/drag-drop-upload-1.gif');
    background-color: #e7f0f4;
}