<mat-progress-spinner *ngIf="!completed" [diameter]="35" mode="indeterminate"></mat-progress-spinner>
<mat-card *ngIf="completed">
    <mat-card-header>
        <mat-card-title>Project: <b>{{project.name}}</b></mat-card-title>
        <mat-card-subtitle>Alias: <i>{{project.alias}}</i></mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="project.description">
        {{project.description}}
        <hr/>
    </div>
    <mat-card-content>

        <mat-card>
            <mat-card-header>
                <div *ngIf="workItem.type == 'resource'" mat-card-avatar class="work-item-resource-header-image"></div>
                <div *ngIf="workItem.type == 'blender_model'" mat-card-avatar class="work-item-blender-header-image"></div>
                <div *ngIf="workItem.type == 'vlab_item'" mat-card-avatar class="work-item-vlabitem-header-image"></div>
                <mat-card-title>Work Item: <b>{{workItem.title}}</b></mat-card-title>
                <mat-card-subtitle>Alias: <i>{{workItem.alias}}</i></mat-card-subtitle>
            </mat-card-header>
            <div *ngIf="workItem.notes">
                <i>{{workItem.notes}}</i>
                <hr/>
            </div>

            <mat-card *ngIf="workItem.type == 'blender_model' && vLabPreviewEmbedSafeURL">
                <mat-card-header>
                    <mat-card-title>Work Item Preview: <b>{{workItem.title}}</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-expansion-panel *ngIf="completed" (opened)="vlabModelPreviewPanelOpened($event)">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="styles-mat-panel-title-pad styles-not-selectable">
                                VLab Model Preview
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <iframe *ngIf="vlabModelPreviewActivated"
                                [src]="vLabPreviewEmbedSafeURL"
                                style="flex-grow: 1; border: none; margin: 0; padding: 0; min-height: 70vh; width: 100%;" scrolling="no" frameborder="0px" allowfullscreen>
                        </iframe>
                    </mat-expansion-panel>
                </mat-card-content>
            </mat-card>

            <div>
                <div *ngIf="uploader?.queue?.length > 0">
                    <hr/>
                    <div *ngIf="workItem.type == 'resource'">
                        <h3>Upload queue</h3>
                        <p>Queue length: {{ uploader?.queue?.length }}</p>
                    </div>
                    <div *ngIf="workItem.type == 'blender_model' || workItem.type == 'vlab_item'">
                        <h3>ZIP archive to be upload</h3>
                    </div>
                    <mat-list role="list">
                        <mat-list-item *ngFor="let item of uploader.queue">
                            <table style="width: 100%;">
                                <tr>
                                    <td width="50%">{{ item?.file?.name }}</td>
                                    <td width="25%">{{ item?.file?.size /1024/1024 | number:'.3' }} Mb</td>
                                    <td width="25%">
                                        <button mat-button (click)="item.remove()" *ngIf="!item.isSuccess"><mat-icon style="color: rgba(201, 65, 65, 0.767)">remove_circle</mat-icon></button>
                                        <mat-icon *ngIf="item.isSuccess" class="styles-success">done</mat-icon>
                                    </td>
                                </tr>
                            </table>
                        </mat-list-item>
                    </mat-list>
                    <hr/>

                    <mat-progress-spinner *ngIf="uploading" [diameter]="35" mode="indeterminate"></mat-progress-spinner>
                    <button *ngIf="!uploading" mat-button class="addButton" (click)="uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        <mat-icon>file_upload</mat-icon>
                        <span *ngIf="workItem.type == 'resource'">Upload file(s)</span>
                        <span *ngIf="workItem.type == 'blender_model' || workItem.type == 'vlab_item'">Upload ZIP archive</span>
                    </button>
                </div>
            </div>

            <!-- Work Item File Items -->
            <mat-table #workItemFileItemsTable [dataSource]="workItemFileItemsDS">
                <ng-container matColumnDef="isDirectory">
                    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                    <mat-cell *matCellDef="let element" item-width="5%">
                        <img *ngIf="element.isDirectory" src="/assets/img/folder.png" height="32">
                        <img *ngIf="!element.isDirectory" src="/assets/img/file.png" height="32">
                    </mat-cell>
                </ng-container>            
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastModified">
                    <mat-header-cell *matHeaderCellDef> Modified </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.lastModified | date: 'yyyy/MM/dd h:mm:ss a'}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="workItemFileItemsDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: workItemFileItemsDisplayedColumns;"></mat-row>
            </mat-table>

            <mat-card-content>
                <button *ngIf="workItem.type == 'resource'" mat-button (click)="fileInput.click()">
                    <mat-icon>attach_file</mat-icon>
                    <span>Select file(s) for upload</span>
                    <input #fileInput  type="file" ng2FileSelect [uploader]="uploader" multiple hidden/>
                </button>
                <button *ngIf="workItem.type == 'blender_model' || workItem.type == 'vlab_item'" mat-button (click)="fileInput.click()">
                    <mat-icon>attach_file</mat-icon>
                    <span>Select ZIP archive for upload</span>
                    <input #fileInput type="file" accept="application/zip" ng2FileSelect [uploader]="uploader" hidden/>
                </button>
                <div ng2FileDrop
                        [ngClass]="{'file-drop-zone-over': hasBaseDropZoneOver}"
                        (fileOver)="fileOverBase($event)"
                        [uploader]="uploader"
                        class="file-drop-zone">
                </div>
            </mat-card-content>
        </mat-card>

    </mat-card-content>
</mat-card>