<div class="vertical-spacing-4pt"></div>
<div class="reset-password-view-container">
    <mat-card class="mat-card-reset-password">

      <mat-card-title>
        <h4>Password Reset</h4>
        <mat-card-subtitle *ngIf="!submitted">
            <strong>{{userService.currentUser.username}}</strong>
        </mat-card-subtitle>
      </mat-card-title>
  
      <mat-progress-spinner *ngIf="submitted" class="mat-progress-spinner-profile" mode="indeterminate"></mat-progress-spinner>
      
      <mat-card-content>

          <p [class]="notification.msgType" *ngIf="notification" [innerHTML]="notification.msgBody"></p>
  
          <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm" class="reset-password-form">
              <mat-form-field class="full-width">
                  <input matInput formControlName="oldPassword" type="password" placeholder="current password" required>
              </mat-form-field>
              <mat-form-field class="full-width">
                  <input matInput formControlName="newPassword" type="password" placeholder="new password" required>
              </mat-form-field>
              <mat-form-field class="full-width">
                  <input matInput formControlName="confirmNewPassword" type="password" placeholder="confirm new password" required>
              </mat-form-field>
              <div class="mat-card-actions-reset-password">
                  <button type="submit" mat-button [disabled]="!resetPasswordForm.form.valid">CONFIRM</button>
              </div>
          </form>

      </mat-card-content>
  
    </mat-card>
  <div>
