.reset-password-view-container {
    width: 100%;
    /*border: solid 1px blue;*/
}

.mat-card-reset-password {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.reset-password-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
  }

.mat-card-actions-reset-password {
    text-align: right;
}

.mat-progress-spinner-profile {
    margin-left: 35%;
    /*border: solid 1px blue;*/
}

.error {
    color: #D50000;
    line-height: 25%;
}
  
  .success {
    color: #8BC34A;
}