/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/icon?family=Roboto';

html {
    min-height: 100%;
    margin: 0;
}

body {
    font-family: Roboto;
    background: linear-gradient(-180deg, #B2EBF2 0%, #006064);
    background-repeat: no-repeat;
    background-size: cover;
}

.center-text {
    text-align: center;
}

.centering {
    margin: auto;
    width: 50%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.global-mat-card-actions {
    text-align: right;
}

.global-full-width {
    width: 100%;
}

.global-full-height {
    width: 100%;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.border-radius-5px {
    border-radius: 5px;
}

.mat-snack-bar-container{
    background-color: #006064 !important;
}