/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/icon?family=Roboto';

body {
    font-family: Roboto;
}

.content {
    width: 100%;
}

.centering {
    margin: auto;
    width: 50%;
}

.global-mat-card-actions {
    text-align: right;
}

.global-full-width {
    width: 100%;
}