<mat-toolbar color="primary" layout="row">

    <button *ngIf="hasSignedIn()" 
            (click)="sidenav.open()"
            mat-icon-button class="mat-icon md-36">
        <mat-icon class="material-icons md-36">menu</mat-icon>
    </button>

    <span (click)="navigate('/')" class="toolbarItem">
        <span *ngIf="!hasSignedIn()">VLabs</span>
        <span *ngIf="hasSignedIn()">{{ 'header.component.dashboard' | translate }}</span>
    </span>

    <span class="styles-row-spacer" style="text-align:center;">
        <!-- HEADER CENTER LABEL -->
    </span>

    <span (click)="navigate('/edit-profile')" *ngIf="hasSignedIn()" class="toolbarItem">{{userName()}}</span>

    <span class="element-spacer"></span>

    <a *ngIf="!hasSignedIn()" href="/login" mat-icon-button matTooltip="{{ 'login.component.login' | translate }}" class="mat-icon md-36">
        <mat-icon class="md-36">account_box</mat-icon>
    </a>
    <a *ngIf="hasSignedIn()" 
        href="javascript:void(0)" 
        mat-icon-button 
        matTooltip="{{ 'app.component.logout' | translate }}" 
        class="mat-icon md-36">
        <mat-icon class="md-36" (click)="logout()">exit_to_app</mat-icon>
    </a>

</mat-toolbar>
