<mat-menu #rootMenu="matMenu">
    <!-- Menus authorized for the particular ROLE -->
    <app-admin-menu *ngIf="authorizedFor('ADMIN')" (navigateEvent)="navigate($event)"></app-admin-menu>

    <button mat-menu-item [matMenuTriggerFor]="profileMenu">Profile</button>
    <button mat-menu-item (click)="logout()"><mat-icon class="md-36">exit_to_app</mat-icon>Logout</button>
</mat-menu>

<!-- Authorized for the ROLE_USER -->
<mat-menu #profileMenu="matMenu">
    <button mat-menu-item>Edit profile</button>
    <button mat-menu-item>Change password</button>
</mat-menu>



<mat-toolbar color="primary" layout="row">

    <button *ngIf="hasSignedIn()" 
            [matMenuTriggerFor]="rootMenu"
            mat-icon-button matTooltip="Menu" class="mat-icon md-36">
        <mat-icon class="material-icons md-36">menu</mat-icon>
    </button>

    <a href="/" class="title linkNoDecoration">VLabs</a>

    <span class="mat-toolbar-row-spacer"></span>

    <a href="#" *ngIf="hasSignedIn()" class="profileTitle linkNoDecoration">{{userName()}}</a>

    <span class="element-spacer"></span>

    <a *ngIf="!hasSignedIn()" href="/login" mat-icon-button matTooltip="Login" class="mat-icon md-36">
        <mat-icon class="md-36">account_box</mat-icon>
    </a>
    <a *ngIf="hasSignedIn()" 
        href="javascript:void(0)" 
        mat-icon-button 
        matTooltip="Logout" 
        class="mat-icon md-36">
        <mat-icon class="md-36" (click)="logout()">exit_to_app</mat-icon>
    </a>

</mat-toolbar>