/* .mat-toolbar.mat-primary{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
} */

.element-spacer {
  width: 15px;
}

.title{
    color: #ffffff;
    margin-left: 25px;
}

.toolbarItem{
    color: #ffffff;
    font-size:12pt;
    cursor: pointer;
    margin-left: 10pt;
}
