/* .mat-toolbar.mat-primary{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
} */

.element-spacer {
  width: 15px;
}

.title{
    color: #ffffff;
    margin-left: 25px;
}

.toolbarItem{
    color: #ffffff;
    font-size:12pt;
    cursor: pointer;
    margin-left: 10pt;
}

.mat-select-value, .mat-select-arrow
{
    color: rgb(223, 228, 216) !important;
}
.mat-form-field-underline
{
    background-color: rgb(223, 228, 216) !important;
}

.langENSelection{
    background-image: url('/assets/us.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 40px;
}
  
.langUASelection{
    background-image: url('/assets/ua.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 40px;
}
  
.langRUSelection{
    background-image: url('/assets/ru.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 40px;
}
