<app-user-home *ngIf="authorizedFor('USER') 
                  && !authorizedFor('COLLABORATOR') 
                  && !authorizedFor('COLLABORATOR_MANAGER')
                  && !authorizedFor('MANAGER') 
                  && !authorizedFor('ADMIN')"></app-user-home>

<app-collaborator-home *ngIf="authorizedFor('COLLABORATOR')"></app-collaborator-home>

<app-collaborator-manager-home *ngIf="authorizedFor('COLLABORATOR_MANAGER')"></app-collaborator-manager-home>

<app-manager-home *ngIf="authorizedFor('MANAGER')
                     && !authorizedFor('ADMIN')"></app-manager-home>

<app-admin-home *ngIf="authorizedFor('ADMIN')"></app-admin-home>

<div *ngIf="!isLoggedIn()" fxLayout="row" fxLayoutAlign="center none">

    <div class="home-banner">
        <h1 class="home-banner-text">Welcome to </h1>
    </div>

    <mat-card class="directory-card-home">
        <mat-card-header>
            <mat-card-title><b>Welcome to VLabs</b></mat-card-title>
            <mat-card-subtitle>I'm happy to see you here!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                content....
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="directory-card-home">
        <mat-card-header>
            <mat-card-title><b>VLabs</b></mat-card-title>
            <mat-card-subtitle>VLabs Directory</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                content....
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="directory-card-home">
        <mat-card-header>
            <mat-card-title><b>EClasses</b></mat-card-title>
            <mat-card-subtitle>EClasses Directory</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
            content....
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="directory-card-home">
        <mat-card-header>
            <mat-card-title><b>Courses</b></mat-card-title>
            <mat-card-subtitle>Courses Directory</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image [src]="imgUrl"> -->
        <mat-card-content>
            <p>
            content....
            </p>
        </mat-card-content>
    </mat-card>
</div>
