<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Projects
            <span class="styles-row-spacer"></span>
            <mat-icon class="md-18">folder</mat-icon>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-progress-spinner *ngIf="!completed" [diameter]="35" mode="indeterminate"></mat-progress-spinner>
    <div *ngIf="completed">
        <button mat-button *ngFor="let project of collaborator.projects" (click)="navigateProjectActivityManagement(project.id)" class="sidenav-button">
            <mat-icon class="md-18">folder_open</mat-icon>
            <span>{{project.name}}</span>
        </button>
    </div>
</mat-expansion-panel>