#footer {
    position: relative;
    width: 100%;
    height: 2vh;
    background: url('/assets/images/footer-line.png') center center no-repeat;
    background-position: center;
    background-size: 100% 5px;
}
.tabIcon {
    font-size: 18px;
    margin-top:10px;
}
.tabLabel {
    margin-top:-6px;
}