<mat-tab-group class="unselectable" (selectChange)="tabSelectionChanged($event)">
    <mat-tab label="My HelpClips">
        <ng-template mat-tab-label>
            <mat-icon class="tabIcon">airplay</mat-icon>
            <p class="tabLabel">My HelpClips</p>
        </ng-template>
        <app-help-clips *ngIf="currentTabLabel == 'My HelpClips'"></app-help-clips>
    </mat-tab>
    <mat-tab label="HelpClips Market">
        <ng-template mat-tab-label>
            <mat-icon class="tabIcon">local_mall</mat-icon>
            <p class="tabLabel">HelpClips Market</p>
        </ng-template>
        <app-help-clips-market *ngIf="currentTabLabel == 'HelpClips Market'"></app-help-clips-market>
    </mat-tab>
    <!-- <mat-tab label="My Courses">
        <ng-template mat-tab-label>
            <mat-icon class="tabIcon">library_books</mat-icon>
            <p class="tabLabel">My Courses</p>
        </ng-template>
        <app-courses *ngIf="currentTabLabel == 'My Courses'"></app-courses>
    </mat-tab> -->
</mat-tab-group>