/**
* Tooltip
*/
.respondentTooltip {
    z-index: 100;
    position: absolute;
    color: #1b1b1b;
    display: block;
    padding: 4px;
    font-size: 12px;
    max-width: 400px;
    border-radius: 1px;
    pointer-events: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
.interactableTooltip {
    z-index: 101;
    position: absolute;
    color: #1b1b1b;
    display: block;
    padding: 10px;
    max-width: 400px;
    border-radius: 4px;
    background-color:rgba(255, 255, 137, 0.85);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(255, 255, 137, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(255, 255, 137, 1);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 137, 1);
    pointer-events: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
.respondentReferenceTooltip {
    background-color:rgba(255, 255, 200, 0.75);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 137, 1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(255, 255, 137, 1);
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 137, 1);
}
.respondentActionTooltip {
    background-color: rgba(130, 255, 130, 0.75);
    -webkit-box-shadow: 0px 0px 2px 1px #24f81cc2;
    -moz-box-shadow: 0px 0px 2px 1px #24f81cc2;
    box-shadow: 0px 0px 2px 1px #24f81cc2;
}
/**
* Menu
*/
.interactableMenu {
    z-index: 102;
    position: absolute;
    display: block;
    padding: 10px;
    min-width: 100px;
    min-height: 40px;
    background-color:rgba(12, 12, 12, 0.8);
    border-radius: 4px;
    pointer-events: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
.interactableMenuItem {
    display: flex;
    margin-top: auto;
    clear: both;
    min-width: 80px;
    line-height: 40px;
    padding-right: 10px;
    pointer-events: auto;
    border-radius: 4px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.interactableMenuItem:hover {
    background-color: rgba(68, 68, 68);
}
.interactableMenuIcon {
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #00ff00;
}
/*<dev>*/
.interactableMenuDEV {
    z-index: 102;
    position: absolute;
    padding: 5px;
    min-width: 100px;
    min-height: 40px;
    background-color:rgba(221, 221, 221, 0.95);
    border-radius: 2px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
.interactableMenuItemDEV {
    display: flex;
    margin-top: auto;
    clear: both;
    font-size: 14pt;
    min-width: 80px;
    line-height: 16pt;
    padding-right: 5px;
    border-radius: 2px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #000000;
}
.interactableMenuItemDEV:hover {
    background-color: rgb(136, 136, 136);
}
.interactableMenuItemSelectedDEV {
    background-color: rgb(180, 255, 170);
}
.interactableMenuItemLabelDEV {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}
.interactableMenuIconDEV {
    margin-right: 2px;
    color: #000000;
}
.materialIconsDEV {
    font-size: 16pt;
}
/*</dev>*/