:root {
    --screenDependentContainerSize: 50mm;
    --screenDependentButtonSize: 20mm;
}
@media (max-width: 600px) {
    :root {
        --screenDependentContainerSize: 50mm;
        --screenDependentButtonSize: 20mm;
    }
}
@media (max-width: 400px) {
    :root {
        --screenDependentContainerSize: 30mm;
        --screenDependentButtonSize: 15mm;
    }
}
#inventoryContainer {
    z-index: 4;
    position: absolute;
    top: 0;
    bottom: calc(22% + 2px);
    left: 0;
    width: var(--screenDependentContainerSize);
/* border: solid 1px #ec16ff; */
}
#inventoryContainerScrollArea {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
/* border: solid 1px #161aff; */
}
.inventoryItemContainer {
    position: relative;
    float: left;
    width: calc(100% - 7px);
    height: calc(var(--screenDependentContainerSize) - 10px);
    padding: 2px;
    margin-top: 2px;
    background-color: #747a7c;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-position: center;
    border: solid 1px #dddddd;
    border-radius: 8px;
    opacity: 0.95;
}
.inventoryItemContainerPreSelected {
    box-shadow: 0 0 4px 1px yellow inset;
}
.inventoryItemContainerSelected {
    box-shadow: 0 0 16px 2px rgb(91, 255, 25) inset;
}
#inventoryExpandIcon {
    z-index: 4;
    position: absolute;
    width: var(--screenDependentButtonSize);
    height: var(--screenDependentButtonSize);
    font-size: var(--screenDependentButtonSize);
    top: calc(50% - var(--screenDependentButtonSize) * 1.5);
    left: 4px;
    color: rgb(228, 228, 228);
    cursor: pointer;
    pointer-events: auto;
    border: solid 2px rgb(150, 150, 150);
    border-radius: 10px;
}
#inventoryButton {
    z-index: 4;
    width: var(--screenDependentButtonSize);
    height: var(--screenDependentButtonSize);
    position: absolute;
    cursor: pointer;
    pointer-events: auto;
    bottom: 0px;
    left: 0px;
    border: solid 2px rgb(150, 150, 150);
    border-radius: 10px;
}
#inventoryOpenButtonIcon {
    font-size: var(--screenDependentButtonSize);
    color: #575757;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0px 1px 1px rgb(201, 201, 201),
                 0px 2px 1px #a7a7a7,
                 0px 3px 1px #ccc,
                 0px 2px 1px #c5c5c5,
                 0px 2px 1px #c1c1c1,
                 0px 3px 1px rgb(119, 119, 119),
                 0px 3px 1px #777;
}
#inventoryCloseButtonIcon {
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: calc(var(--screenDependentButtonSize) / 2);
    color: #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#inventoryAddedIcon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 20%;
    left: 5%;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: solid 2px #ffffff;
    background-color: #2385ac;
    border-radius: 50%;
}
#inventoryAddedThumbnail {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: calc(50% - 50px);
    margin-top: -90px;
    margin-left: 0;
    border-radius: 10px;
    border: solid 2px #ffffff;
    background-color: #747a7c;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}
#inventoryTakeButton {
    z-index: 4;
    width: var(--screenDependentButtonSize);
    height: var(--screenDependentButtonSize);
    position: absolute;
    cursor: pointer;
    pointer-events: auto;
    top: 0px;
    left: 0px;
    border: solid 2px rgb(150, 150, 150);
    border-radius: 10px;
}
#inventoryTakeButtonIcon {
    font-size: calc(var(--screenDependentButtonSize) * 0.85);
    color: #575757;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0px 1px 1px rgb(201, 201, 201),
                 0px 2px 1px #a7a7a7,
                 0px 3px 1px #ccc,
                 0px 2px 1px #c5c5c5,
                 0px 2px 1px #c1c1c1,
                 0px 3px 1px rgb(119, 119, 119),
                 0px 3px 1px #777;
}