/* Scene loader */
#sceneLoaderContainer {
    z-index: 10000;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-tap-highlight-color: transparent;
}
#sceneLoader {
    position: relative;
    width: 80%;
    max-width: 600px;
    max-height: 90vh;
    min-width: 300px;
    min-height: 200px;
    display: none;
    background: #326383c5;
    border-top-right-radius: 21px;
    box-shadow: 0px 0px 2px 2px #ffffff25;
}
#sceneLoadingBarDIV {
    position: absolute;
    top: -3px;
    right: -22px;
    height: 50px !important;
    font-size: 9pt !important;
}
#sceneLoaderHint {
    position: absolute;
    top: -16px;
    right: 25px;
    font-size: 9pt;
    color: #ffffffbe;
}
#sceneLoaderHeader {
    font-size: 16pt;
    color: #c0d1dd;
    padding-left: 10px;
    padding-top: 6px;
    margin-bottom: 10px;
    text-shadow: 1px 1px #ffffff;
}
#sceneLoaderHeaderHR {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #5088ad, rgba(255, 255, 255, 0));
    margin-right: 25px;
}
#sceneLoaderContent {
    height: 90%;
    max-height: 300px;
    overflow-y: auto;
    font-size: 12pt;
    margin: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
/* Autoloader */
#sceneAutoLoader {
    position: absolute;
    width: 100%;
    height: 18px;
    display: none;
    bottom: 0;
    overflow: hidden;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #182427cc);
}
#sceneAutoLoaderProgress {
    width: 0%;
    left: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #9ec3ee);
}
#sceneAutoLoaderLabel {
    width: 100%;
    text-align: center;
    font-size: 9pt;
    padding-top: 1px;
    color: #d5daddcc;
    z-index: 10001;
}
/* Auxilaries */

/* ZoomHelper */
#zoomHelperStackContainer {
    z-index: 4;
    position: absolute;
    text-align: center;
    left: 20%;
    right: 20%;
    padding: 2px;
    pointer-events: none;
/* border: 1px solid red; */
}
.zoomHelperViewThumbnail {
    border: 0.25mm solid rgba(238, 238, 238);
    border-radius: 6px;
    display: inline-block;
    margin-left: 2px;
    cursor: pointer;
    pointer-events: auto;
}
.zoomHelperViewThumbnailIcon {
    position: absolute;
    font-size: 50px;
    color: #ffffff83;
    bottom: -25px;
    left: calc(50% - 25px);
}