<div class="global-full-width">
    <mat-card class="mat-card-reset-password">

        <mat-card-title>
            Password Reset
        </mat-card-title>
        <mat-card-subtitle *ngIf="!submitted">
            <strong>{{userService.currentUser.username}}</strong>
        </mat-card-subtitle>

        <mat-progress-spinner *ngIf="submitted" [diameter]="50" mode="indeterminate"></mat-progress-spinner>

        <mat-card-content>
            <p [class]="notification.msgType" *ngIf="notification" [innerHTML]="notification.msgBody"></p>

            <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm" class="reset-password-form">
                <mat-form-field class="full-width">
                    <input matInput formControlName="oldPassword" type="password" placeholder="current password" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput formControlName="newPassword" type="password" placeholder="new password" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput formControlName="confirmNewPassword" type="password" placeholder="confirm new password" required>
                </mat-form-field>
                <div class="global-mat-card-actions">
                    <button type="submit" mat-button [disabled]="!resetPasswordForm.form.valid">CONFIRM</button>
                </div>
            </form>
        </mat-card-content>

    </mat-card>
<div>