<p [class]="notification.msgType" *ngIf="notification" [innerHTML]="notification.msgBody"></p>
<mat-progress-spinner *ngIf="submitted" mode="indeterminate"></mat-progress-spinner>
<form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #newCollaboratorProjectForm="ngForm">
  <mat-form-field class="styles-full-width">
      <input matInput formControlName="name" type="text" placeholder="Project Name" required>
  </mat-form-field>
  <mat-form-field class="styles-full-width">
      <input matInput formControlName="alias" type="text" placeholder="Project Alias" required>
  </mat-form-field>
  <mat-form-field class="styles-full-width">
    <textarea matInput formControlName="description" placeholder="Project Description"></textarea>
  </mat-form-field>
  <div class="styles-mat-card-actions">
      <button type="submit" mat-button [disabled]="!newCollaboratorProjectForm.form.valid">SAVE</button>
  </div>
</form>