<mat-card class="login-card centering">
  <mat-card-header>
    <div mat-card-avatar class="login-header-image"></div>
    <mat-card-title><span style="font-size: 2vh;">HelpClips</span></mat-card-title>
    <mat-card-subtitle><b>Authentication</b></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="!submitted" [formGroup]="form" id="ngForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <mat-form-field appearance="outlinse" class="global-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="username" placeholder="email@address" autocapitalize="off">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>Sign in or Sign up</mat-hint>
        <mat-error *ngIf="this.form.controls.username.hasError('email') && !this.form.controls.username.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="this.form.controls.username.hasError('required')">
            Please provide your email
        </mat-error>
      </mat-form-field>
      <p>
        <mat-form-field *ngIf="this.form.value.username && this.userExists !== undefined" appearance="outlinse" class="global-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" autocapitalize="off">
          <mat-icon matSuffix>vpn_key</mat-icon>
          <mat-hint>
            <span *ngIf="this.userExists === false" style="font-size: 10px;">
              Check <b>{{ this.form.value.username }}</b> for the password
            </span>
          </mat-hint>
          <mat-error *ngIf="this.form.controls.password.hasError('required')">
              Password is required
          </mat-error>
        </mat-form-field>
      </p>
    </form>
  </mat-card-content>
  <mat-card-actions class="global-mat-card-actions">
    <mat-progress-spinner *ngIf="submitted" class="centering" diameter="30" mode="indeterminate"></mat-progress-spinner>
    <button *ngIf="!submitted && this.userExists === false" mat-raised-button class="float-left" color="descent">HELP</button>
    <button *ngIf="!submitted" mat-raised-button color="accent" form="ngForm" type="submit">CONTINUE</button>
  </mat-card-actions>
</mat-card>
