.login-card {
    max-width: 360px;
    min-width: 260px;
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
}

.login-header-image {
    background-image: url('/assets/images/icon-round.png');
    background-size: cover;
}