<mat-card class="login-card centering border-radius-5px">
  <mat-card-header>
    <div mat-card-avatar class="login-header-image"></div>
    <mat-card-title><span style="font-size: 34px; color: #184244;">HelpClips</span></mat-card-title>
    <mat-card-subtitle>Authentication</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="global-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="username" placeholder="email@address" autocapitalize="off"  [readonly]="this.userExists !== undefined">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint *ngIf="this.userExists === undefined">Sign in or Sign up</mat-hint>
        <mat-error *ngIf="this.form.controls.username.hasError('email') && !this.form.controls.username.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="this.form.controls.username.hasError('required')">
            Please provide your email
        </mat-error>
      </mat-form-field>
      <p>
        <mat-form-field *ngIf="this.form.value.username && this.userExists !== undefined" appearance="outline" class="global-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" autocapitalize="off" autofocus>
          <mat-icon matSuffix>vpn_key</mat-icon>
          <mat-hint>
            <span *ngIf="this.userExists === false" style="font-size: 10px;">
              Check <b>{{ this.form.value.username }}</b> for the password
            </span>
          </mat-hint>
          <mat-error *ngIf="this.form.controls.password.hasError('required')">
              Password is required
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="passwordDoesNotMach" class="mat-caption">
            The provided password does not match
        </mat-error>
      </p>
      <input type="submit" style="display: none;">
    </form>
    <mat-progress-spinner *ngIf="submitted" class="centering" diameter="30" mode="indeterminate"></mat-progress-spinner>
  </mat-card-content>
  <mat-card-actions *ngIf="!submitted" class="global-mat-card-actions">
    <button *ngIf="this.userExists === false || passwordDoesNotMach" mat-raised-button class="float-left">HELP</button>
    <button mat-raised-button color="accent" (click)="onSubmit()">CONTINUE</button>
  </mat-card-actions>
</mat-card>
