@import 'circular-menu.css';
@import './fontawesome/css/fontawesome-all.min.css';
@import 'iziToast.min.css';
@import 'popupS.min.css';

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

#webGLContainer {
    background-color: black;
    float: left;
    width: 100%;
    height: 100%;
}

#overlayContainer {
    position: fixed;
    background-color:rgba(15, 15, 15, 0.85);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2e9;
}

#progressBar {
    left: 25%;
    top: 50%;
    width: 45%;
    height: 20px;
}

#modalMessage {
    position: relative;
    width: 80%;
    top: 30%;
    left: 10%;
    color: rgb(228, 125, 28);
}

#fullscreen {
    right: 10px;
    bottom: 10px;
    position: absolute;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-image: url("../img/fullscreen.png");
}

#resetview {
    left: 10px;
    bottom: 10px;
    position: absolute;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-image: url("../img/reset-view.png");
}

#back {
    bottom: 10px;
    position: absolute;
    cursor: pointer;
    width: 128px;
    height: 128px;
    left: 50%;
    right: 25%;
    margin-left:-64px;
    background-image: url("../img/back.png");
    display: none;
}

#tooltip {
    color:rgba(255, 255, 255, 0.75);
    position: fixed;
    padding:5px;
    -moz-border-radius:5px;  /* for Firefox */
    -webkit-border-radius:5px; /* for Webkit-Browsers */
    border-radius:5px; /* regular */
    background-color:rgba(14, 13, 13, 0.6);
    max-width: 500px;
    pointer-events:none;
    z-index: 2e9;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

/* Inventory */
#inventoryContainer {
    width: calc(90vw - 15pt);
    height: calc(85vh - 24px + 5pt);
    background-color: #0a283dc0;
    display: none;
    z-index: 2e9;
    margin-top: 5vh;
    margin-left: 5vw;
    border-radius: 20pt;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    padding: 10pt;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

#inventoryWebGLContainer {
    width: 100%;
    height: 40vh;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

#nextItemButton {
    position: fixed;
    height: 48px;
    width: 48px;
    background-image: url('../img/next.png');
    background-repeat: no-repeat;
    left: calc(85% - 24px);
    top: 25%;
    cursor: pointer;
}

#prevItemButton {
    position: fixed;
    height: 48px;
    width: 48px;
    background-image: url('../img/prev.png');
    background-repeat: no-repeat;
    left: calc(15% - 24px);
    top: 25%;
    cursor: pointer;
}

#takeButton {
    position: fixed;
    left: calc(50% - 17pt);
    top: 40%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.63);
    font-size: 34pt;
}

#inventoryCloseButton {
    position: fixed;
    height: 48px;
    width: 48px;
    background-image: url('../img/closeInventory.png');
    background-repeat: no-repeat;
    left: calc(50% - 24px);
    bottom: 5pt;
    cursor: pointer;
}

#inventoryInfoBox {
    width: calc(100% - 10pt);
    height: 40vh;
    margin-top: 10pt;
    border-radius: 5pt;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    padding: 5pt;
    overflow: auto;
}

#toolbox {
    right: 15px;
    top: 15px;
    position: absolute;
    cursor: pointer;
    width: 64px;
    height: 36px;
    background-image: url("../img/toolbox.png");
}

.toolboxMenuIcon {
    background-image: url("../img/toolbox-menu-icon.png");
}

#cMenu {
    z-index: 2e9;
}