@import 'circular-menu.css';
@import './fontawesome/css/fontawesome-all.min.css';
@import 'iziToast.min.css';
@import 'popupS.min.css';

/* roboto-condensed-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('../fonts/roboto-condensed-v16-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-condensed-v16-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #032d2e;
    font-family: 'Roboto Condensed', sans-serif;
}

#loader {
    position: absolute;
    border: 12px solid #e8ffff;
    border-top: 12px solid #087d81;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-top: 25%;
    margin-left: calc(50% - 42px);
    z-index: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.vLabContainer {
    background-color: #032d2e;
    width: 100%;
    height: 100%;
}

.webGLContainer {
    background-color: #032d2e;
    float: left;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.overlayContainer {
    position: relative;
    background-color:rgba(0, 46, 49, 0.85);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2e9;
}

.progressBar {
    left: 10%;
    top: 50%;
    width: 80%;
    height: 20px;
}

.modalMessage {
    position: relative;
    width: 80%;
    top: 30%;
    left: 10%;
    color: rgb(228, 125, 28);
}

.cMenu {
    z-index: 2e9;
}

.fullscreen {
    right: 10px;
    bottom: 10px;
    position: absolute;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-image: url("../img/fullscreen.png");
    display: none;
}

.resetview {
    left: 10px;
    bottom: 10px;
    position: absolute;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-image: url("../img/reset-view.png");
    display: none;
}

.backFromView {
    bottom: 10px;
    position: absolute;
    cursor: pointer;
    width: 64px;
    height: 64px;
    left: 50%;
    right: 25%;
    margin-left:-32px;
    background-image: url("../img/back.png");
    display: none;
}

.tooltip {
    color:rgba(255, 255, 255, 0.75);
    position: fixed;
    padding:5px;
    -moz-border-radius:5px;  /* for Firefox */
    -webkit-border-radius:5px; /* for Webkit-Browsers */
    border-radius:5px; /* regular */
    background-color:rgba(14, 13, 13, 0.6);
    max-width: 500px;
    pointer-events:none;
    z-index: 2e9;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 10px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(76, 204, 176);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(76, 204, 176);
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggleSlider {
  background-color: rgb(76, 204, 176);
}

input:focus + .toggleSlider {
  box-shadow: 0 0 1px  rgb(76, 204, 176);
}

input:checked + .toggleSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded toggle sliders */
.toggleSlider.round {
  border-radius: 34px;
}

.toggleSlider.round:before {
  border-radius: 50%;
}


.zoomViewArea {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: url("../img/zoom-view-area.png") no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    pointer-events:none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    opacity: 0;
    /* visibility: hidden; */
    transition: visibility 0s, opacity 0.4s linear;
    animation-direction: alternate;
}

/* Inventory */
.inventoryContainer {
    position: fixed;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: #011e25e1;
    display: none;
    z-index: 2e9;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    padding: 7px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

.inventoryWebGLContainer {
    width: 100%;
    height: 50vh;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

.inventoryNextItemButton {
    position: fixed;
    width: 10vmin;
    height: 10vmin;
    max-width: 48px;
    max-height: 48px;
    background-image: url('../img/next.png');
    background-repeat: no-repeat;
    background-size: contain;
    right: 16px;
    top: 25vh;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-tap-highlight-color: transparent;
}

.inventoryPrevItemButton {
    position: fixed;
    width: 10vmin;
    height: 10vmin;
    max-width: 48px;
    max-height: 48px;
    background-image: url('../img/prev.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: 16px;
    top: 25vh;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-tap-highlight-color: transparent;
}

.inventoryTakeButton {
    position: fixed;
    left: calc(50% - 17px);
    top: calc(50vh - 24px);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.63);
    font-size: 34pt;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-tap-highlight-color: transparent;
}

.inventoryCloseButton {
    position: fixed;
    width: 10vmin;
    height: 10vmin;
    max-width: 48px;
    max-height: 48px;
    background-image: url('../img/closeInventory.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: 16px;
    top: 16px;
    cursor: pointer;
    z-index: 2e12;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-tap-highlight-color: transparent;
}

.inventoryInfoBox {
    width: calc(100% - 10px);
    height: calc(100% - 50vh - 20px);
    margin-top: 10px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    padding: 5px;
    overflow: auto;
}

.toolbox {
    right: 15px;
    top: 15px;
    position: absolute;
    cursor: pointer;
    width: 64px;
    height: 36px;
    background-image: url("../img/toolbox.png");
}

.toolboxMenuIcon {
    background-image: url("../img/toolbox-menu-icon.png");
}

/* Detailed View */
.detailedViewContainer {
    position: fixed;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: #011e25e1;
    display: none;
    z-index: 2e9;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    padding: 7px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

.detailedViewCloseButton {
    position: fixed;
    width: 10vmin;
    height: 10vmin;
    max-width: 48px;
    max-height: 48px;
    background-image: url('../img/closeInventory.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: 16px;
    top: 16px;
    cursor: pointer;
    z-index: 2e12;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-tap-highlight-color: transparent;
}

.detailedViewWebGLContainer {
    width: 100%;
    min-height: 100%;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}


/* Settings */
.sttingsButton {
    position: absolute;
    cursor: pointer;
    width: 10vmin;
    height: 10vmin;
    max-width: 48px;
    max-height: 48px;
    left: 85px;
    top: 0px;
    background-image: url("../img/settings.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.settingsViewContainer {
    position: fixed;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background-color: #0e2d35ec;
    display: none;
    z-index: 20000;
    border-radius: 10px;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    padding: 7px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

.settingsViewCloseButton {
    position: fixed;
    width: 10vmin;
    height: 10vmin;
    max-width: 36px;
    max-height: 36px;
    background-image: url('../img/closeInventory.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: 16px;
    top: 16px;
    cursor: pointer;
    z-index: 20010;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-tap-highlight-color: transparent;
}

.settingsViewContentContainer {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    height: 100%;
    padding: 1%;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-tap-highlight-color: transparent;
}

.settingsHeaderHR {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.settingsViewItemsContentContainer {
    width: 100%;
    height: calc(100% - 80px);
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-tap-highlight-color: transparent;
}

/* Tablet */
.tabletButton {
    position: absolute;
    cursor: pointer;
    width: 20vmin;
    height: 25vmin;
    max-width: 80px;
    max-height: 113px;
    left: 0px;
    top: 50px;
    background-image: url("../img/tablet.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.tabletButtonPointer {
    width: 96px;
    height: 64px;
    background-image: url("../img/left-left.png");
    background-repeat: no-repeat;
    margin-left: 42px;

    animation-name: bounceTabletButtonPointer;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    /* For Chrome & Safari */
   -webkit-animation-name: bounceTabletButtonPointer;
   -webkit-animation-timing-function: ease-in-out;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
}

@keyframes bounceTabletButtonPointer {
    from {
        background-position: left;
        opacity: 1.0;
    }
    50% {
        background-position: right;
        opacity: 0.0;
    }
    to {
        background-position: left;
        opacity: 1.0;
    }
}

.tabletButtonCompleted {
    width: 32px;
    height: 32px;
    background-image: url("../img/completed.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.tabletButtonCompleted.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1.5s linear;
}

.tabletButtonCompleted.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.5s, opacity 1.5s linear;
}

.tabletViewContainer {
    position: fixed;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background-color: #0e2d35ec;
    display: none;
    z-index: 20000;
    border-radius: 10px;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    padding: 7px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}

.tabletViewCloseButton {
    position: fixed;
    width: 10vmin;
    height: 10vmin;
    max-width: 36px;
    max-height: 36px;
    background-image: url('../img/closeInventory.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: 16px;
    top: 16px;
    cursor: pointer;
    z-index: 20010;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-tap-highlight-color: transparent;
}

.tabletHeaderHR {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.tabletViewContentContainer {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    height: 100%;
    padding: 1%;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-tap-highlight-color: transparent;
}

.tabletViewContentTabsButton {
    min-height: 32px;
    min-width: 130px;
    font-size: 12pt;
    color: #d4d4d4;
    background-color: #19495594;
    border-radius: 4px;
    outline: none;
    margin: 5px;
    border: none;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.tabletViewContentTabsButtonSelected {
    background-color: #299e1f;
    color: #ffffff;
    font-weight: bold;
}

.tabletViewContentTabsButtonPreselected {
    /* background-color: #0cb39de3; */
    border-bottom: solid 2px #67c4c7;
}

.tabletViewContentTabsButtons {
    width: auto;
    height: 42px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-tap-highlight-color: transparent;
}

.tabletViewTabActivateButton {
    position: fixed;
    top: 20%;
    left: calc(50% - 100px);
    width: 200px;
    font-size: 14pt;
    font-weight: bold;
    color: #ffffff;
    background-color: #2ba720;
    border-radius: 6px;
    border: 1px solid rgb(211, 211, 165);
    box-shadow: 0 0 4px #ffffff;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 54px;
    cursor: pointer;
    visibility: collapse;
}

/* Clear floats (clearfix hack) */
.tabletViewContentTabsButtons:after {
    content: "";
    clear: both;
    display: table;
}

.tabletViewTabPrev {
    position: absolute;
    top: 62px;
    left: 10px;
    width: 10vmin;
    height: 10vmin;
    max-width: 48px;
    max-height: 48px;
    background-image: url('../img/prevBtn.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: none;
}

.tabletViewTabNext {
    position: absolute;
    top: 62px;
    right: 10px;
    width: 10vmin;
    height: 10vmin;
    max-width: 48px;
    max-height: 48px;
    background-image: url('../img/nextBtn.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: none;
}

.tabletViewItemsContentContainer {
    width: 100%;
    height: calc(100% - 140px);
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
    -webkit-tap-highlight-color: transparent;
}