html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

#webGLContainer {
    background-color: black;
    float: left;
    width: 100%;
    height: 100%;
}

#overlayContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2e9;
}

#progressBar {
    left: 25%;
    top: 50%;
    width: 45%;
    height: 20px;
}

#modalMessage {
    position: relative;
    width: 80%;
    top: 30%;
    left: 10%;
    color: rgb(228, 125, 28);
}