<mat-card class="login-card g_centering">
  <mat-card-header>
    <div mat-card-avatar>A</div>
    <mat-card-title>Welcome to VLabs</mat-card-title>
    <mat-card-subtitle>Authentication</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="g_full_width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="username" placeholder="email@host.name" autocapitalize="off" autofocus>
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <input type="submit" style="display: none;">
        <mat-form-field appearance="outline" class="g_full_width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" autocapitalize="off">
            <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="g_mat_card_actions">
    <button mat-raised-button class="g_float_left">HELP</button>
    <button mat-raised-button color="accent" (click)="onSubmit()">CONTINUE</button>
  </mat-card-actions>
</mat-card>