<div id="container">

    <div class="content">

        <mat-toolbar *ngIf="userService.isLoggedIn()" class="toolbar unselectable border-radius-2px" color="accent">
            <mat-toolbar-row>
                <button mat-fab id="logoBtn" (click)="gotoDashboard()" matTooltip="Dashbord"></button>
                <span style="margin-left: 20px;" #toolbarLabelElement>Dashboard</span>
                <span class="spacer"></span>
                <div class="small-res-hidden">
                    <a mat-button matTooltip="Profile" (click)="gotoProfile()">{{userService.currentUser.username}}</a>
                    <a mat-icon-button>
                        <mat-icon matTooltip="Logout" (click)="gotoLogout()">exit_to_app</mat-icon>
                    </a>
                </div>
                <div class="hi-res-hidden">
                    <a mat-icon-button>
                        <mat-icon (click)="showOverlayNavMenu()">menu</mat-icon>
                    </a>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>

        <nav mat-tab-nav-bar *ngIf="userService.isLoggedIn()" class="small-res-hidden">
            <a mat-tab-link
                *ngFor="let routeLink of routeLinks"
                [routerLink]="routeLink.path"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                <div>
                    <mat-icon class="tabIcon">{{routeLink.icon}}</mat-icon>
                    <p class="tabLabel">{{routeLink.label}}</p>
                </div>
            </a>
        </nav>

        <div #overlayNavMenu *ngIf="userService.isLoggedIn()" class="overlay hi-res-hidden">
            <a mat-icon-button>
                <mat-icon class="overlayNavMenuCloseBtn" (click)="hideOverlayNavMenu()">close</mat-icon>
            </a>
            <mat-selection-list class="overlayNavMenu global-full-width">
                <mat-list-item *ngFor="let routeLink of routeLinks">
                    <a mat-button [routerLink]="routeLink.path" (click)="hideOverlayNavMenu()" class="overlayNavMenuItem global-full-width" style="text-align: left;">
                        <mat-icon mat-icon>{{routeLink.icon}}</mat-icon>
                        <span style="padding-left: 20px;">{{routeLink.label}}</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a mat-button (click)="gotoLogout()" class="overlayNavMenuItem global-full-width" style="text-align: left;">
                        <mat-icon mat-icon>exit_to_app</mat-icon>
                        <span style="padding-left: 20px;">Log out</span>
                    </a>
                </mat-list-item>
            </mat-selection-list>
        </div>

        <router-outlet></router-outlet>

    </div>

    <footer id="footer">
        Copyright © {{copyrightYear}} [COPYRIGHT OWNER’S NAME]. All Rights Reserved.
    </footer>

</div>
