#container {
    min-height: 100%;
    position: relative;
    background: linear-gradient(-180deg, #B2EBF2 0%, #006064);
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    padding: 5px 5px 0px 5px;
}
#footer {
    position: absolute;
    clear: both;
    width: 100%;
    bottom: 0;
    z-index: 0;
    background: url('assets/images/footer-line.png') center center no-repeat;
    background-position: center top;
    background-size: 100% 5px;
    font-size: 1vh;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 2px;
}
#logoBtn {
    width: 52px;
    height: 52px;
    background: url('assets/images/icon-round-white-bg-48.png') center center no-repeat;
    background-position: center;
}
.toolbar {
    height: 60px;
}
.spacer {
    flex: 1 1 auto;
}
.tabIcon {
    font-size: 18px;
    margin-top:10px;
}
.tabLabel {
    margin-top:-6px;
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #0c3f41f5; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    display: none;
}
.overlayNavMenuCloseBtn {
    position: absolute;
    top: 15px;
    left: 85vw;
    font-size: 36px;
    color: #B2EBF2;
}
.overlayNavMenu {
    margin-top: 40px;
    max-height: 80%;
}
.overlayNavMenuItem {
    font-size: 24px;
    color: #B2EBF2;
}