<mat-progress-spinner *ngIf="!completed" [diameter]="35" mode="indeterminate"></mat-progress-spinner>
<mat-card *ngIf="completed">
    <mat-card-header>
        <mat-card-title>Project: <b>{{collaboratorProject.name}}</b></mat-card-title>
        <mat-card-subtitle>Alias: <i>{{collaboratorProject.alias}}</i></mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="collaboratorProject.description">
        {{collaboratorProject.description}}
        <hr/>
    </div>
    <mat-card-content>
        <button mat-button *ngIf="!submitted && workItemsCompleted" (click)="openAddProjectWorkItemDialog()" class="addButton">
            <mat-icon class="material-icons md-24">queue</mat-icon>
            Add Project Work Item
        </button>

        <mat-progress-spinner *ngIf="!workItemsCompleted" [diameter]="35" mode="indeterminate"></mat-progress-spinner>

        <mat-table #projectWorkItemsDSTable [dataSource]="projectWorkItemsDS" *ngIf="workItemsCompleted">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef>TITLE</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="alias">
                <mat-header-cell *matHeaderCellDef>ALIAS</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.alias}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef>TYPE</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <img *ngIf="element.type == 'resource'" src="/assets/img/resource-item.png" height="48">
                    <img *ngIf="element.type == 'blender_model'" src="/assets/img/blender-item.png" height="48">
                    <img *ngIf="element.type == 'vlab_item'" src="/assets/img/vlabitem-item.png" height="48">
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="projectWorkItemsDisplayedColumns"></mat-header-row>
            <mat-row 
            class="styles-mat-table-row"
            (click)="collaboratorProjectWorkItemRowClicked(row);"
            *matRowDef="let row; columns: projectWorkItemsDisplayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>