@import '../assets/styles/slider.css';

.content {
    width: 100%;
    height: 100vh;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: rgb(222, 226, 241) !important;
    /* 
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    */

    /* border: solid 1px red; */
}
.sidenav {
  display: flex;
  width: 25%;
  min-width: 200pt;
  background-color: #f1f1f3;
  border-right: 2px solid grey;
}
.sidenav-content{
  width: 100%;
  /* border: solid 1px red; */
}
.sidenav-scrollable-content {
  overflow: auto;
  max-height: 90vh;
}
.sidenav-bottom-content {
  position: absolute;
  padding-left: 5%;
  bottom: 2%;
  width: 90% !important;
  /* border: solid 1px red; */
}
.sidenav-primary-element {
  width: 100% !important;
  text-align:left;
}
