<mat-sidenav-container class="content">
    <mat-sidenav #sidenav class="sidenav">
        <div class="sidenav-content">
            
            <div class="sidenav-scrollable-content">
                <mat-accordion multi="true" displayMode="flat">
                    <app-admin-sidenav *ngIf="authorizedFor('ADMIN')" (navigateEvent)="navigate($event)"></app-admin-sidenav>
                    <app-manager-sidenav *ngIf="authorizedFor('MANAGER')" (navigateEvent)="navigate($event)"></app-manager-sidenav>
                    <app-user-sidenav *ngIf="authorizedFor('USER') 
                                        && !authorizedFor('ADMIN')
                                        && !authorizedFor('MANAGER')"></app-user-sidenav>
                </mat-accordion>
            </div>

            <div class="sidenav-bottom-content">
<!-- 
                <button mat-button (click)="navigate('/edit-profile')" class="sidenav-primary-element">
                        <mat-icon class="md-36">perm_identity</mat-icon>
                        <span>{{ 'app.component.profile' | translate }}</span>
                </button>
 -->
                <hr/>
                <button mat-button (click)="logout()" class="sidenav-primary-element">
                    <mat-icon class="md-36">exit_to_app</mat-icon>
                    <span>{{ 'app.component.logout' | translate }}</span>
                </button>
            </div>
        </div>
    </mat-sidenav>
    <app-header [sidenav]="sidenav"></app-header>
    <router-outlet></router-outlet>
</mat-sidenav-container>