.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/home-bg.png') center center no-repeat;
    float: none;
}

@media screen and (min-width: 0px) and (max-width: 375px) {
    .bg-img-pos {
        background-size: 256px 256px;
        background-position: -10vh -10vh;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    .bg-img-pos {
        background-size: 80vh 80vh;
        background-position: -20vh -20vh;
    }
}

@media screen and (min-width: 769px) {
    .bg-img-pos {
        background-size: 125vh 125vh;
        background-position: -25vw -30vh;
        clear: bottom;
    }
}