<div class="styles-error" *ngIf="!hasAuthority">
  You do not have enough authority. Contact VLabs Administrator.
</div>
<mat-dialog-content *ngIf="hasAuthority">
  <mat-tab-group class="mat-tab-group">
      <mat-tab label="Profile">
          <div style="float:left;">
              <div class="full-width">
                <span class="label">ID</span>
                <div class="data">{{user.id}}</div>
              </div>
              <div class="full-width">
                <span class="label">Status</span>
                <div class="data" [ngStyle]="{'color': user.enabled ? 'green' : 'red'}">{{user.enabled ? 'ACTIVATED' : 'INACTIVE'}}</div>
              </div>
              <div class="full-width">
                <span class="label">Username</span>
                <div class="data">{{user.username}}</div>
              </div>
              <div class="full-width">
                <span class="label">Email</span>
                <div class="data">{{user.email}}</div>
              </div>
              <div class="full-width">
                <span class="label">Phone Number</span>
                <div class="data">{{user.phoneNumber}}</div>
              </div>
              <div class="full-width">
                <span class="label">First Name</span>
                <div class="data">{{user.firstName}}</div>
              </div>
              <div class="full-width">
                  <span class="label">Last Name</span>
                  <div class="data">{{user.lastName}}</div>
              </div>
            </div>
            <div style="float:right;">
                <img *ngIf="profilePhoto != null" src="{{profilePhoto}}" width="150" />
            </div>
      </mat-tab>
      <mat-tab label="Authorities">
        <br/>
        <mat-form-field class="authorities-chip-list">
          <mat-chip-list #authoritiesList>
            <mat-chip *ngFor="let authorityObj of grantedAuthorities" [selectable]="false"
                     [removable]="true" (remove)="removeAuthority(authorityObj)">
                {{authorityObj.authority}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Granted Authorities"
                   [matChipInputFor]="authoritiesList"
                   [matChipInputSeparatorKeyCodes]="grantedAuthoritiesSeparatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="addAuthority($event)" />
          </mat-chip-list>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)='updateAuthorities()'>Update Authorities</button>
      </mat-tab>
      <mat-tab label="Actions">
          <ul>
            <li><button mat-button (click)="resetPasswordAction()">RESET PASSWORD</button></li>
            <li><button mat-button (click)="activateAction()">ACTIVATE</button></li>
            <li><button mat-button (click)="deActivateAction()">DE-ACTIVATE</button></li>
          </ul>
      </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<hr/>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Close</button>
    <mat-progress-spinner *ngIf="submitted" [diameter]="40" mode="indeterminate"></mat-progress-spinner>
</mat-dialog-actions>