<p [class]="notification.msgType" *ngIf="notification" [innerHTML]="notification.msgBody"></p>
<mat-progress-spinner *ngIf="submitted" mode="indeterminate"></mat-progress-spinner>
<form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #newEClassForm="ngForm">

  <mat-form-field class="styles-full-width">
    <input matInput formControlName="title" type="text" placeholder="Title" required>
  </mat-form-field>
  <mat-form-field class="styles-full-width">
    <textarea matInput formControlName="description" placeholder="Description" matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="4"></textarea>
  </mat-form-field>
  <mat-checkbox class="styles-full-width" matInput formControlName="active">EClass is active</mat-checkbox>

  <div class="styles-full-width" style="margin-top: 15pt; margin-bottom: 10pt;">
    <mat-form-field>
        <mat-select placeholder="EClass Format" formControlName="formatId">
            <mat-option *ngFor="let eclassFormat of eClassFormats" [value]="eclassFormat.id">
                {{ eclassFormat.title }}
            </mat-option>
        </mat-select>
    </mat-form-field>
  </div>

  Summary
  <quill [(value)]="eclassSummary"></quill>

  <div class="styles-mat-card-actions" style="margin-top:10pt;">
      <button type="submit" mat-button [disabled]="!newEClassForm.form.valid">SAVE</button>
  </div>
</form>