<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="styles-mat-panel-title-pad styles-not-selectable" *ngIf="completed">
                Collaborator&nbsp;<b><i>{{collaborator.alias}}</i></b>&nbsp;Properties
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-progress-spinner *ngIf="!completed" [diameter]="35" mode="indeterminate"></mat-progress-spinner>
        <form *ngIf="completed" [formGroup]="generalCollaboratorFormGroup" (ngSubmit)="onGeneralCollaboratorFormGroupSubmit()" #generalCollaboratorForm="ngForm">
          <mat-form-field class="styles-full-width">
            <input [(ngModel)]="collaborator.alias" matInput formControlName="alias" type="text" placeholder="Collaborator alias" required>
          </mat-form-field>

          <div class="styles-mat-card-actions" style="margin-top:10pt;">
              <div style="display: block; float: left;" [class]="notification.msgType" *ngIf="notification" [innerHTML]="notification.msgBody"></div>
              <mat-progress-spinner style="display: inline-block; vertical-align:middle;" *ngIf="submitted" [diameter]="35" mode="indeterminate"></mat-progress-spinner>
              <button style="display: inline-block;" type="submit" mat-button [disabled]="!generalCollaboratorForm.form.valid">UPDATE</button>
          </div>
        </form>
    </mat-expansion-panel>

    <mat-progress-spinner *ngIf="!completed" [diameter]="35" mode="indeterminate"></mat-progress-spinner>

    <mat-expansion-panel [expanded]="true" *ngIf="completed">
        <mat-expansion-panel-header>
            <mat-panel-title class="styles-mat-panel-title-pad styles-not-selectable">
                <b><i>{{collaborator.alias}}</i></b>&nbsp; Projects
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-progress-spinner *ngIf="submitted" [diameter]="35" mode="indeterminate"></mat-progress-spinner>

        <button mat-button *ngIf="!submitted" (click)="openAddProjectDialog()" class="addButton">
            <mat-icon class="material-icons md-24">person_add</mat-icon>
            Add Project
        </button>

        <button *ngIf="removeProject && !submitted" mat-button (click)="removeSelectedProject()" class="removeButton">
            <mat-icon class="material-icons md-24">remove_circle_outline</mat-icon>
            Remove Projects
        </button>

        <mat-table #collaboratorProjectsDSTable [dataSource]="collaboratorProjectsDS">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-checkbox [(ngModel)]="element.checked" (change)="checkSelected()">{{element.id}}</mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>PROJECT NAME</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="alias">
                <mat-header-cell *matHeaderCellDef>PROJECT ALIAS</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.alias}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="collaboratorProjectsDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: collaboratorProjectsDisplayedColumns;"></mat-row>
        </mat-table>
    </mat-expansion-panel>
</mat-accordion>