<mat-progress-spinner *ngIf="!completed" mode="indeterminate"></mat-progress-spinner>
<mat-accordion *ngIf="completed">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title class="styles-mat-panel-title-pad">
                EClass General Properties
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-progress-spinner *ngIf="submitted" mode="indeterminate"></mat-progress-spinner>
        <p [class]="notification.msgType" *ngIf="notification" [innerHTML]="notification.msgBody"></p>
        <form *ngIf="!submitted && eClass" [formGroup]="generalEClassFormGroup" (ngSubmit)="onGeneralEClassFormSubmit()" #generalEClassForm="ngForm">

          <mat-form-field class="styles-full-width">
            <input [(ngModel)]="eClass.title" matInput formControlName="title" type="text" placeholder="Title" required>
          </mat-form-field>
          <mat-form-field class="styles-full-width">
            <textarea [(ngModel)]="eClass.description" matInput formControlName="description" placeholder="Description" matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="4"></textarea>
          </mat-form-field>
          <mat-checkbox [(ngModel)]="eClass.active" class="styles-full-width" matInput formControlName="active">EClass is active</mat-checkbox>

          <br/>
          <br/>

          Summary
          <div [(froalaModel)]="eclassSummary" [froalaEditor]="froalaEditorOptions" class="styles-full-width"></div>

          <br/>

          <div class="styles-mat-card-actions">
              <button type="submit" mat-button [disabled]="!generalEClassForm.form.valid">UPDATE</button>
          </div>
        </form>


    </mat-expansion-panel>
</mat-accordion>