/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/icon?family=Roboto';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: Roboto;
}

.center-text {
    text-align: center;
}

.centering {
    margin: auto;
    width: 50%;
}

.error {
    color: #D50000;
    line-height: 25%;
}
  
.success {
    color: #8BC34A;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.global-mat-card-actions {
    text-align: right;
}

.global-full-width {
    width: 100%;
}

.global-full-height {
    width: 100%;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.pointer-cursor {
    cursor: pointer;
}

@media (min-width: 478px) {
    .hi-res-hidden {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 478px) {
    .small-res-hidden {
        display: none;
        visibility: hidden;
    }
}

.border-radius-5px {
    border-radius: 5px;
}

.border-radius-2px {
    border-radius: 2px;
}

.mat-snack-bar-container{
    background-color: #006064 !important;
}